.wrap-404{
  padding: 50px 0px;
  min-height: 100vh;
  background: #F1F1F1;

  h1{
    color: $black;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  h2{
    font-size: $body-font-size;
    color: $text-color;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .logo-container{
    padding-top: 30px;

    .ad-link{
      opacity: 40%;
      // filter: grayscale(100%);

      &:hover{
        opacity: 75%;
      }
    }
  }

}