/// -----------------------------------------------------------------------------
/// This file contains all styles related to the button component.
/// -----------------------------------------------------------------------------

@mixin btn-style {
  background-color: $btn-color;
  color: $white;
  padding: 8.5px 15px;
  border: none;
  border-radius: 0px;


  line-height: 1.5;
  text-decoration: none;
  text-align: center;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;

  @include on-event {
    color: $white;
    background: $primary-color;
    text-decoration: none;
  }
}

.btn-general{
  @include btn-style;
}

.btn-action{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 1;
  padding: 20px;
  img{
    margin-left: 0px;
    margin-right: 10px;
  }

  @include on-event{
    background-color: tint($btn-color, 20%);
  }
}